<div class="inset-0 flex flex-col min-w-0 w-full h-screen">
  <configuration class="mr-6"></configuration>
  <div class="flex flex-col p-10">
    <div class="flex flex-row mt-5 gap-5">
      <app-card class="flex flex-col p-10 basis-1/2">
        <div class="text-xl mb-5">PageRank</div>
        <vertical-bar-chart class="w-full" [data]="pageRankNormalized"></vertical-bar-chart>
        <!--      <div class="flex flex-row gap-10">-->
        <!--        <div *ngFor="let columnNumber of [0,1,2,3,4,5,6,7,8]">-->
        <!--          <div class="flex flex-col">-->
        <!--            <div *ngFor="let character of pagerankCosmere; let pos = index">-->
        <!--              <div class="mb-3" *ngIf="pos >= columnNumber * 10 && pos < columnNumber * 10  + 10">{{ pos + 1 }}-->
        <!--                º {{ character.label }}</div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
      </app-card>
      <app-card class="flex flex-col p-6 basis-1/2">
        <div class="text-xl mb-5">Fractal protagonism</div>
        <chart-3d class="flex flex-auto w-full" [data]="pagerankEigenvectorAndDegreeCentrality" [xLabel]="'pagerank'"
                  [yLabel]="'eigenvector'"></chart-3d>
      </app-card>
    </div>
    <div class="flex flex-row mt-5 gap-5">
      <app-card class="flex flex-auto grow p-6">
        <div class="flex flex-col grow">
          <div class="text-xl mb-5">Eigenvector</div>
          <bar-chart class="w-full" [data]="eigenvectorCosmere"></bar-chart>
        </div>
      </app-card>
      <app-card class="flex flex-auto grow p-6">
        <div class="flex flex-col grow">
          <div class="text-xl mb-5">Betweenness</div>
          <bar-chart class="w-full" [data]="betweennessCosmere"></bar-chart>
        </div>
      </app-card>
      <app-card class="flex flex-auto grow p-6">
        <div class="flex flex-col grow">
          <div class="text-xl mb-5">Closeness</div>
          <bar-chart class="w-full" [data]="closenessCosmere"></bar-chart>
        </div>
      </app-card>
    </div>
  </div>
</div>



