<div class="inset-0 flex flex-col min-w-0 w-full overflow-hidden">
  <div class="flex flex-row h-full grow justify-center">
    <d3-network class="h-full w-full" [nodes]="nodes" [links]="edges" [options]="options"></d3-network>
  </div>

  <div class="absolute bottom-0 right-0 z-50">
    <div class="z-50">
      <app-card class="flex flex-col p-6 gap-5">
        <div *ngFor="let guideType of guideRelationshipTypes" class="flex flex-row">
          <div class="square mr-3" [style.background-color]="colors()[guideType]"></div>
          <div>{{ 'guide.' + guideType | trans }}</div>
        </div>
      </app-card>
    </div>
  </div>
</div>



