<div class="inset-0 flex flex-col min-w-0 w-full overflow-hidden">
  <div class="flex flex-row h-full w-full grow justify-center">
    <app-network class="h-full w-full" [nodes]="nodes" [edges]="edges" [options]="options"></app-network>
  </div>

  <div class="absolute bottom-0 right-0 z-50">
    <div class="z-50">
      <app-card class="flex flex-col p-6 gap-5 rounded-none">
        <mat-form-field floatLabel="always" class="w-full">
          <mat-label class="text-white">{{"guide" | trans | titlecase}}</mat-label>
          <mat-select [formControl]="guideControl">
            <mat-option *ngFor="let guide of guides" [value]="guide.id">
              {{ guide.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="text-xl">{{ 'guide.legend.title' | trans }}</div>
        <div *ngFor="let guideType of guideRelationshipTypes" class="flex flex-row">
          <div class="square mr-3" [style.background-color]="edgeColors()[guideType]"></div>
          <div>{{ 'guide.' + guideType | trans }}</div>
        </div>
      </app-card>
    </div>
  </div>
</div>



