<app-loading-bar></app-loading-bar>

<div class="inset-0 flex flex-col min-w-0  h-screen w-full overflow-y-scroll">
  <div class="flex flex-col w-full h-full">
    <app-horizontal-navigation
      [navigation]="navigation"
      class="cosmere print:hidden justify-center">
    </app-horizontal-navigation>

    <div class="flex flex-col flex-auto w-full grow min-w-0">
      <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
         Otherwise, layout changes won't be registered and the view won't be updated! -->
      <router-outlet *ngIf="true"></router-outlet>
    </div>
  </div>
</div>
