body {
  color: white;
  background-image: url('https://pasoraudo.github.io/cosmere/assets/images/background_image.jpg');
  background-repeat: repeat;
  background-size: 20% 20%;
  background-color: #0d0d0d;
}
