<div class="flex flex-row w-full justify-between overflow-x-hidden px-10">
  <div class="flex flex-row items-center invisible">
    <app-lang-select class="flex flex-row"></app-lang-select>
  </div>
  <div class="flex flex-row">
    <div class="fuse-horizontal-navigation-content-header">
      <ng-content select="[fuseHorizontalNavigationContentHeader]"></ng-content>
    </div>

    <ng-container *ngFor="let item of navigation">
      <ng-container *ngIf="item.type === 'basic'">
        <app-horizontal-navigation-basic-item class="p-7" [item]="item"></app-horizontal-navigation-basic-item>
      </ng-container>
    </ng-container>
  </div>
  <div class="flex flex-row items-center">
    <app-lang-select class="flex flex-row"></app-lang-select>
  </div>
</div>

