<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
<!--  <div class="flex flex-row">-->
<!--    <fuse-card class="flex flex-col p-5 grow m-10">-->
<!--      <div class="text-xl mb-5">Pagerank</div>-->
<!--      <bar-chart class="w-full" [data]="pagerankCosmere" [id]="'pagerank'"></bar-chart>-->
<!--    </fuse-card>-->
<!--    <fuse-card class="flex flex-col p-5 grow m-10">-->
<!--      <div class="text-xl mb-5">Betweenness</div>-->
<!--      <bar-chart class="w-full" [data]="betweennessCosmere" [id]="'betweenness'"></bar-chart>-->
<!--    </fuse-card>-->
<!--  </div>-->
  <div class="flex flex-row">
    <fuse-card class="flex flex-col p-5 grow m-10">
<!--      <div class="text-xl mb-5">Closeness</div>-->
<!--      <bar-chart class="w-full" [data]="closenessCosmere" [id]="'closeness'"></bar-chart>-->
    </fuse-card>
    <fuse-card class="flex flex-col p-5 grow m-10">
      <chart-3d [data]="prueba"></chart-3d>
<!--      <div class="text-xl mb-5">Eigenvector</div>-->
<!--      <bar-chart class="w-full" [data]="eigenvectorCosmere" [id]="'eigenvector'"></bar-chart>-->
    </fuse-card>
  </div>

</div>



