<div class="inset-0 flex flex-col min-w-0 w-full">
  <div class="flex flex-col mx-100 text-center p-6">
    <div class="font-black mt-3 text-7xl text-center mb-7">
      {{ 'home.title' | trans }}
    </div>
    <d3-network [nodes]="nodes" [links]="edges" [height]="600"></d3-network>
    <div class="flex flex-col">
      <div class="font-black mt-3 text-2xl text-center mb-7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et gravida nisi, eget maximus nibh. Donec a metus elit. Ut porta, nunc id porttitor pellentesque, est enim porta odio, eget ullamcorper est dui vel ex. Aliquam leo orci, aliquet eget consectetur sit amet, pulvinar volutpat nulla. Cras porttitor, dolor non vulputate hendrerit, turpis sapien malesuada nunc, rhoncus accumsan nunc odio vel lectus. Integer eu tincidunt massa. Aliquam efficitur, est eget vulputate finibus, diam enim pulvinar tortor, quis posuere mi lorem nec nisl. Donec sed nulla vel enim facilisis aliquet.
        Duis posuere leo id lectus rutrum, efficitur mattis turpis elementum. Etiam hendrerit nulla felis, a convallis eros blandit vel. Donec nibh eros, lobortis dictum mi eu, fringilla laoreet orci. Duis sit amet nunc lacus. Donec facilisis id urna vitae dictum. Etiam consectetur sapien ac ante laoreet sollicitudin sit amet et enim. Vestibulum libero felis, ultrices nec rhoncus vitae, iaculis dignissim nunc. Proin a mi imperdiet, auctor felis eget, tempor leo. Cras sagittis nisl nec dolor tincidunt euismod.
      </div>
      <div>
        <button mat-button class="bg-primary text-lg mt-7" [routerLink]="['/wiki/network']">
          Conexiones
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="font-black mt-3 text-2xl text-center mb-7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et gravida nisi, eget maximus nibh. Donec a metus elit. Ut porta, nunc id porttitor pellentesque, est enim porta odio, eget ullamcorper est dui vel ex. Aliquam leo orci, aliquet eget consectetur sit amet, pulvinar volutpat nulla. Cras porttitor, dolor non vulputate hendrerit, turpis sapien malesuada nunc, rhoncus accumsan nunc odio vel lectus. Integer eu tincidunt massa. Aliquam efficitur, est eget vulputate finibus, diam enim pulvinar tortor, quis posuere mi lorem nec nisl. Donec sed nulla vel enim facilisis aliquet.
        Duis posuere leo id lectus rutrum, efficitur mattis turpis elementum. Etiam hendrerit nulla felis, a convallis eros blandit vel. Donec nibh eros, lobortis dictum mi eu, fringilla laoreet orci. Duis sit amet nunc lacus. Donec facilisis id urna vitae dictum. Etiam consectetur sapien ac ante laoreet sollicitudin sit amet et enim. Vestibulum libero felis, ultrices nec rhoncus vitae, iaculis dignissim nunc. Proin a mi imperdiet, auctor felis eget, tempor leo. Cras sagittis nisl nec dolor tincidunt euismod.
      </div>
      <div>
        <button mat-button class="bg-primary text-lg mt-7" [routerLink]="['/wiki/statistics']">
          Análisis
        </button>
      </div>
    </div>
  </div>
</div>



