<div class="flex flex-row p-7 w-full h-full">
  <fuse-card class="flex flex-col w-60 p-5">
    <form [formGroup]="form">
      <mat-form-field class="w-full ">
        <mat-label>{{"books" | trans | titlecase}}</mat-label>
        <mat-select formControlName="bookFilter" multiple>
          <mat-option *ngFor="let book of books" [value]="book.title">
            {{book.title | trans | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full ">
        <mat-label>{{"planets" | trans | titlecase}}</mat-label>
        <mat-select formControlName="planetFilter" multiple>
          <mat-option *ngFor="let planet of planets" [value]="planet">
            {{planet | trans | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="mat-flat-button" (click)="onClick()">aaaaaaaaaaaaa</button>
    </form>
  </fuse-card>
  <graph class="flex flex-col w-60" [nodes$]="nodes$" [edges$]="edges$"></graph>
</div>
